/* 通用样式 */
/* 修改主题原生样式 */

/* 调整 */
.layout {
    max-width: 1400px;
}

.layout>div:first-child {
    flex: 1;
}

#page-header.not-top-img #nav {
    box-shadow: none;
}

#aside-content {
    max-width: 300px;
}

.hide-aside .layout > div:first-child {
    width: 100% !important;
}


